* {
  font-family: 'Poppins', sans-serif;
}

button {
  font-family: 'Poppins', sans-serif !important;
}

html {
	scroll-behavior: smooth;
}

.banner {
  background-color: rgb(97, 9, 148);
  color: rgb(255, 255, 255);
  padding-bottom: 1rem;
}

h2 {
  text-align: center;
  background-color: rgb(59, 51, 59);
  padding: 15px;
  color: rgb(255, 255, 255);
  margin: 0 !important;
  /* position: sticky;
  top: 0;
  z-index: 1000; */
}

.btn {
  margin: 5px;
  background-color: rgb(96, 104, 110) !important;
  border-color: rgb(96, 104, 110) !important;
}

.center {
  text-align: center;
}

.vertical-align-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-align-child {
  display: inline-block;
}

.navbar-brand {
  padding: 50px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 30px;
  vertical-align: middle;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: rgb(157, 91, 211);
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(48px);
}


/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.menu-scroll {
  max-height: 150px;
  overflow: scroll;
}

.toggle-arrow {
  position: relative;
  cursor: pointer;
}

.toggle-arrow .real-checkbox {
  clip: rect(0, 0, 0, 0);
  /* Hide checkbox */
  position: absolute;
}

.toggle-arrow .real-checkbox+.toggle-button {

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.toggle-arrow .real-checkbox+.toggle-button::before {
  content: "";
  display: inline-block;
  /* Arrow */
  border: solid rgb(157, 91, 211);
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 3px;
  /* Left arrow */
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.toggle-arrow .real-checkbox:checked+.toggle-button::before {
  /* Right arrow */
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: rgb(108, 25, 177) !important;
  color: #444;
  cursor: pointer;
  width: 100%;
  border: none !important;
  text-align: left;
  margin: auto;
  outline: none;
  font-size: 15px;
  border-radius: 0 !important;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}


.tableScroll {
  overflow-y: auto;
  height: 300px;
}

.tableScroll thead th {
  position: sticky;
  top: 0;
}

table{
  border-collapse:collapse;
  width: 100%;
}

th,
td {
  padding: 8px 16px;
  border: 1px solid #ccc;
}

th {
  background: rgb(59, 51, 59);
  color: white;
}

.radar {
  width: 200px;
}

.sorting {
  background: rgb(108, 25, 177);
  color: white;
}

.sortable {
  user-select: none;
  cursor: pointer;
  padding: 6px;
}

.sortable:hover {
  background: #444444;
}

.sortable.sorting:hover {
  background: #747474;
}

/* .navbar {

  height: 200px;
  background-color: rgb(192, 161, 179)!important;
}

.navbarCustom .navbar-brand{
  color: rgb(255, 230, 230) !important;
}

body {	
	background: linear-gradient(to bottom, #c60c3131, #da14142a, #8917ac2d, #a61ecf3f, #d442e75b );
	background-size: 100%;
	background-repeat: no-repeat;
}

body:before{
	content:'';
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
	background: linear-gradient(to right bottom, rgba(255,255,255,0.2), #caa62d4f 90%);
} */

.navbar {

  height: 200px;
  background-color: rgb(231, 195, 117)!important;
}

.navbarCustom .navbar-brand{
  color: rgb(255, 249, 234) !important;
}

body {	
	background: linear-gradient(to bottom, #c6180c59, #da8b1425, #e0c1392a, #e0cf392a, #e742c32a );
	background-size: 100%;
	background-repeat: no-repeat;
}

body:before{
	content:'';
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
	background: linear-gradient(to right bottom, rgba(255,255,255,0.2), #caa52d3d 90%);
}

/*courtesy of https://codemyui.com/change-background-gradient-on-scrolling/ */

body {
	margin: 0;
	font-size: 1.15rem;
	line-height: 1.4em;
}

.containerCustom {
	background-color: #FFF;
	margin: 20px 10%;
	padding: 30px 60px;
	border-radius: 20px;
	box-shadow: 0 10px 26px 0 rgba(0, 0, 0, 0.267);
}

main,header {
	box-sizing: border-box;
}

main {
	background-color: #f7f7f7;
	padding: 20px;
	border-radius: 10px;
	color: #6b6b6b;
	margin: 40px 0;
}

