
* {
    font-family: 'Poppins', sans-serif;
}
.banner {
    background-color:rgb(124, 48, 187);
    color:rgb(255, 255, 255);
}

h2 {
    text-align: center;
    background-color:rgb(0, 0, 0);
    padding: 15px;
    color:rgb(255, 255, 255);
}

.btn {
    margin: 5px;
}

.center {
    text-align: center;
}

.vertical-align-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    
    height: 200px;
    background-color:rgb(172, 172, 172) !important;
}

.vertical-align-child {
    display: inline-block;
}

.navbar-brand {
    padding: 50px;
}